
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
MotionBlur/.vs/MotionBlur/v15/.suo
MotionBlur/.vs/MotionBlur/v15/Browse.VC.db
MotionBlur/.vs/MotionBlur/v15/ipch/AutoPCH/54b88709cff8b671/MAIN.ipch
MotionBlur/.vs/MotionBlur/v15/ipch/AutoPCH/ee01431198f9ee10/CUSTOMIZABLES.ipch
MotionBlur/.vs/MotionBlur/v15/ipch/AutoPCH/feeb54b3f14c936a/MAIN.ipch
MotionBlur/.vs/MotionBlur/v15/Solution.VC.db
MotionBlur/Aykut_Ismailov_121217104_36gr.rar
